Logfiles.log
migrations/*
DOEAssessmentApp/__pycache__/*
DOEAssessmentApp/*.pyc
DOEAssessmentApp/DOEAssessmentApp/__pycache__/*
DOEAssessmentApp/DOEAssessmentApp/*.pyc
DOEAssessmentApp/DOEAssessmentApp/DOE_models/__pycache__/*
DOEAssessmentApp/DOEAssessmentApp/DOE_views/__pycache__/*
nohup.out
.idea/*
.scannerwork/