Flask
flask_sqlalchemy
flask_marshmallow
marshmallow-sqlalchemy
flask_script
flask_migrate
flask_cors
konfig
psycopg2-binary
PyJWT==1.7.1
xlrd==1.2.0
python-jenkins
openapi-spec-validator==0.2.9
apispec-webframeworks==0.5.2
flask-swagger-ui==3.36.0